.cards_container {
  display: flex;
  gap: 5vh;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  border-radius: 1vh;
  padding: 2vh;
  flex-direction: column;
  width: 15rem;
  text-align: center;

  .card_header {
  }
  .card_body {
  }
}

.searchbar {
  input, button {
    padding: 0.5rem;
    font-size: 1rem;
  }
  input {
    width: 30rem;
  }
}

.contributors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  padding: 1rem;
  color: white;
  background-color: rgb(185, 0, 0);
  border-radius: 1rem;
}

footer {
  text-align: center;
}
